@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}
/*Importes e Váriaveis*/

@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

:root{
    --cor01: #034AA6;
    --cor02: #035AA6;
    --cor03: #0455BF;
    --cor04: #B3CFFB;
    --cor05: #F2F2F2;
    --fonte01: 'Diphylleia', serif;
}

body {
    background-color: var(--cor02);
}
a {
    text-decoration: none;
    color: black;
}
.footer > a:hover {
    color: #034AA6;
}

/*Header*/

header {
    background-color: var(--cor04);
}
h1 {
    font-family: var(--fonte01);
    font-size: 5vh;
    text-align: center;
    padding: 2vw;
}

/*Main*/

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
th {
    font-size: 19px;
    background-color: var(--cor05);
    text-align: justify;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 100px;
    padding-bottom: 5px;
    border-collapse: collapse;
    box-shadow: 0px 2px 3px black;
}
td {
    background-color: var(--cor05);
    text-align: justify;
    font-size: 18px;
    padding-right: 100px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px black;
}
th#descricao{
    padding-right: 200px;
}

/*Footer*/